<div class="row">
	<div class="col-12 text-center">
		<h2>Comparte tu logro</h2>
		<br>
	</div>
</div>
<div class="row text-center">
			<div class="col-6">
				<!-- <a class="icon-fb" (click)="win.open('https://www.facebook.com/sharer/sharer.php?u=https://www.google.com','sharer','toolbar=0,status=0,width=548,height=325')">
					<i class="fab fa-facebook-square shbut"></i>
				</a> -->
				<a class="icon-fb" (click)="win.open('https://www.facebook.com/sharer/sharer.php?u=https://www.google.com','sharer','toolbar=0,status=0,width=548,height=325')">
					<i class="fab fa-facebook-square shbut fa-2x" style="color: #4267b2; cursor: pointer;"></i>
				</a>
			</div>
			<div class="col-6">
				<!-- <a class="icon-tw" (click)="win.open('https://twitter.com/intent/tweet?text='+Noticia.tituloNoticiablog+' Vía @CIHumana&amp;url='+locurl,'sharer','toolbar=0,status=0,width=548,height=325')">
					<i class="fab fa-twitter shbut"></i>
					</a>-->
				<a class="icon-tw" (click)="win.open('https://twitter.com/intent/tweet?text= Hey, acabo de adquirir un curso Vía @CIHumana&amp; en;url='+locurl,'sharer','toolbar=0,status=0,width=548,height=325')">
					<i class="fab fa-twitter shbut fa-2x" style="color: #1da1f2; cursor: pointer;"></i>
				</a>
			</div>
		</div>