<div class="col-sm-12">
	<div class="col-sm-4 offset-sm-4">				
		<div class="form-row">
			<img src="../../../assets/img/default.jpg" class="img-fluid profile-img-card">	
		</div>
		
		<form class="col-sm-12" #loginForm = 'ngForm' (ngSubmit)='onSubmitPersona()'>
			<div class="form-group">
				<input type="text" #email = 'ngModel' class="form-control" placeholder="Usuario" name="email" [(ngModel)] = 'persona.correoPersona' required>
				<span *ngIf="!email.valid && email.touched" class="alert-danger">
					El email es obligatorio
				</span>
			</div>
			<div class="form-group">
				<input type="password" class="form-control" #password = 'ngModel' name="password" [(ngModel)] = 'persona.contrasenaPersona' placeholder="Contraseña" required/>	
				<span *ngIf="!password.value && password.touched" class="alert-danger">
					La contraseña es obligatoria
				</span>		
			</div>
			<div class="form-inline item-center">
				
				<input type="submit" value="Entrar" class="btn cancelar col-4" >
				<!-- <input type="button"  class="btn btn-outline-success offset-2" (click)='registerAdmin()' value="Registrar"	> -->

			</div>
			<div class="col-12 text-center ">
				<a href="#" class="text-white"><h5>¿Olvidaste tu contraseña?</h5></a>
			</div>
		</form>
			
		
	</div>		
</div>	
