<div class="footer">
  <div class="row">
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text-center">
      <img src="../assets/image/logoEdu.png" class="logo"><br>
      <label style="font-size: 1vw;" class="naranja">&copy;CIHUMANAEDU 2017</label>
    </div>
    <div class="col-md-9 text-center">
      <div class="row " style="height: 2vw !important;">
        <div class="col-md-4" >
          <label class="naranja">Contacto</label>
        </div>
        <div class="col-md-4">
          <p class="naranja">Información</p>
        </div>
        <div class="col-md-4">
          <p class="naranja">Conecta</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 azul">
          <a class="col-md-12" href="tel:5583096632">55 8903 6632</a>
          <a class="col-md-12" href="mailto:contacto@cihumana.com.mx">
                    contacto@cihumana.com.mx</a>
        </div>
        <div class="col-md-4 azul">
          <a class="col-md-12" href="#">Preguntas Frecuentes</a>
          <a class="col-md-12" href="#">  Contactanos  </a>
        </div>
        <div class="col-md-4 azul">
          <i class="fab fa-facebook-f fa-1x list-inline" onClick="location.href='https://www.facebook.com/CIHumanaConsultoria/'"></i>&nbsp;&nbsp;
          <i class="fab fa-twitter fa-1x list-inline" onClick="location.href='https://twitter.com/HumanaCi'"></i>&nbsp;&nbsp;
          <i class="fab fa-linkedin-in fa-1x list-inline" onClick="location.href='https://mx.linkedin.com/company/consultor%C3%ADa-inform%C3%A1tica-humana'"></i>&nbsp;&nbsp;
          <i class="fab fa-youtube fa-1x list-inline" onClick="location.href='https://www.youtube.com/channel/UC7HsQzcmbbkZsqJVFmZcVKg'"></i>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <a style="font-size: 1vw; color: #FF9100;"  href="https://drive.google.com/file/d/15lGUDKpVAxuFpAhxwUKSBqOxoEa45ZrZ/view?usp=sharing" >TÉRMINOS Y CONDICIONES</a>
        </div>
        <div class="col-md-4">
          <a style="font-size: 1vw; color: #FF9100;"  href="https://drive.google.com/file/d/15lGUDKpVAxuFpAhxwUKSBqOxoEa45ZrZ/view?usp=sharing" >POLÍTICAS DE PRIVACIDAD</a>
        </div>
        <div class="col-md-4">
          <a style="font-size: 1vw; color: #FF9100;"  href="https://drive.google.com/file/d/15lGUDKpVAxuFpAhxwUKSBqOxoEa45ZrZ/view?usp=sharing" >POLÍTICA INTELECTUAL</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="footer2">
  <div class="row text-center">
    <div class="col-3">
      <i class="fab fa-facebook-f fa-2x" onClick="location.href='https://www.facebook.com/CIHumanaConsultoria/'"></i>
    </div>
    <div class="col-3">
      <i class="fab fa-youtube fa-2x" onClick="location.href='https://www.youtube.com/channel/UC7HsQzcmbbkZsqJVFmZcVKg'"></i>
    </div>
    <div class="col-3">
      <i class="fab fa-linkedin-in fa-2x" onClick="location.href='https://mx.linkedin.com/company/consultor%C3%ADa-inform%C3%A1tica-humana'"></i>
    </div>
    <div class="col-3">
      <i class="fab fa-twitter fa-2x" onClick="location.href='https://twitter.com/HumanaCi'"></i>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-12 text-center">
      <a href="mailto:contacto@cihumana.com.mx">
                contacto@cihumana.com.mx
            </a>
    </div>
  </div>
  <div class="row">
    <div class="col-12 text-center">
      <a href="tel:5583096632">
                55 8903 6632
            </a>
    </div>
  </div>
  <div class="row">
    <div class="col-12 text-center">
      <a href="https://drive.google.com/file/d/15lGUDKpVAxuFpAhxwUKSBqOxoEa45ZrZ/view?usp=sharing">AVISO DE PRIVACIDAD</a>
    </div>
  </div>
</div>
