<h1 mat-dialog-title>Editar Calificacion</h1>
<div mat-dialog-content>
  <label>Calificacion</label>
  <input type="text" name="calificacion" #nombre='ngModel' [(ngModel)]='CalificacionTarea.calificacionMaterialevalusuario' class="form-control">
  <br>
</div>
<div mat-dialog-actions>
  <!-- <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Agregar</button> -->
  <div class="row">
    <div class="col-lg-6">
      <button class="cancelar btn" (click)="onNoClick()">Cancelar</button>
    </div>
    <div class="col-lg-6">
      <button class="agregar btn" (click)="actualizaCalificacion(promModulo)">Guardar</button>
    </div>
  </div>
</div>
