<div class="container" style="padding-top: 12vh;">
  <div class="row">
    <div class="col-12 col-md-7">
      <img src='../../assets/material/imagenedu002-01.png' class="imgpublicidad2 img-fluid">

		</div>
      <div class="col-12 col-md-5">
        <div class="aviso2">
          <a><label class="title-blue ">Alumnos destacados</label></a>
          <p class="text-responsive">Nuestros alumnos destacados nos demuestran que siempre hay tiempo para alcanzar sus metas profesionales enfocando su desempeño y habilidades para ser profesionales con éxito ya que en este portal educativa moderno e innovador, esta orientada al futuro para formar personas productivas que agreguen valor a la sociedad. Ampliamos el acceso a educación de calidad global para formar personas productivas que agregan valor a la sociedad misma.</p>
        </div>
      </div>
    </div>
    <div class="row">
    	<div class="col-md-6">
    		<ul class="list-group">
    			<li class="list-group-item border-0" *ngFor="let usu of usuDes">
    				<ul class="list-inline">
    					<li class="list-inline-item ">
    						<img src="{{url+ '/getImageFileUsuario/' +usu?.imagenUsuario}}" class="img-fluid profile-img-card mr-md-5 mt-md-3">
    					</li>
    					<li class="list-inline-item mb-md-3">
    						<i class="fas fa-medal fa-3x azul nav-icons "></i>
    					</li>
    					<li class="list-inline-item">
    						<i class="fas fa-medal fa-3x azul nav-icons"></i>
    					</li>
    					<li class="list-inline-item">
    						<i class="fas fa-medal fa-3x azul nav-icons"></i>
    					</li>
    					<li class="list-inline-item">
    						<i class="fas fa-medal fa-3x azul nav-icons"></i>
    					</li>
    					<li class="list-inline-item">
    						<i class="fas fa-medal fa-3x azul nav-icons"></i>
    					</li>
    					<li class="list-inline-item">
    						<i class="fas fa-medal fa-3x azul nav-icons"></i>
    					</li>
    				</ul>
    				

    			</li>
    			<!-- <li class="list-group-item border-0">
    				<ul class="list-inline">
    					<li class="list-inline-item ">
    						<img src="../../../assets/image/IMG_0004.jpg" class="img-fluid profile-img-card mr-md-5 mt-md-3">
    					</li>
    					<li class="list-inline-item mb-md-3">
    						<i class="fas fa-medal fa-3x azul nav-icons"></i>
    					</li>
    					<li class="list-inline-item">
    						<i class="fas fa-medal fa-3x azul nav-icons"></i>
    					</li>
    					<li class="list-inline-item">
    						<i class="fas fa-medal fa-3x azul nav-icons"></i>
    					</li>
    					<li class="list-inline-item">
    						<i class="fas fa-medal fa-3x azul nav-icons"></i>
    					</li>
    					<li class="list-inline-item">
    						<i class="fas fa-medal fa-3x azul nav-icons"></i>
    					</li>
    					
    				</ul>
    				

    			</li>
    			<li class="list-group-item border-0">
    				<ul class="list-inline">
    					<li class="list-inline-item ">
    						<img src="../../../assets/image/IMG_31975295980114.jpeg" class="img-fluid profile-img-card mr-md-5 mt-md-3">
    					</li>
    					<li class="list-inline-item mb-md-3">
    						<i class="fas fa-medal fa-3x azul nav-icons"></i>
    					</li>
    					<li class="list-inline-item">
    						<i class="fas fa-medal fa-3x azul nav-icons"></i>
    					</li>
    					<li class="list-inline-item">
    						<i class="fas fa-medal fa-3x azul nav-icons"></i>
    					</li>
    					<li class="list-inline-item">
    						<i class="fas fa-medal fa-3x azul nav-icons"></i>
    					</li>
    					
    					
    				</ul>
    				

    			</li>
    			<li class="list-group-item border-0">
    				<ul class="list-inline">
    					<li class="list-inline-item ">
    						<img src="../../../assets/image/IMG-20150125-WA0005.jpg" class="img-fluid profile-img-card mr-md-5 mt-md-3">
    					</li>
    					<li class="list-inline-item mb-md-3">
    						<i class="fas fa-medal fa-3x azul nav-icons"></i>
    					</li>
    					<li class="list-inline-item">
    						<i class="fas fa-medal fa-3x azul nav-icons"></i>
    					</li>
    					<li class="list-inline-item">
    						<i class="fas fa-medal fa-3x azul nav-icons"></i>
    					</li>
    					
    					
    					
    				</ul>
    				

    			</li>
    			<li class="list-group-item border-0">
    				<ul class="list-inline">
    					<li class="list-inline-item ">
    						<img src="../../../assets/image/IMG-20160216-WA0001.jpg" class="img-fluid profile-img-card mr-md-5 mt-md-3">
    					</li>
    					<li class="list-inline-item mb-md-3">
    						<i class="fas fa-medal fa-3x azul nav-icons"></i>
    					</li>
    					<li class="list-inline-item">
    						<i class="fas fa-medal fa-3x azul nav-icons"></i>
    					</li>
    					
    					
    					
    					
    				</ul>
    				

    			</li> -->
    		</ul>
    	</div>
    </div>
  </div>
