<div class="container" style="padding-top: 15vh;">
	<div class="row separar">
		<div class="col-12 col-md-3 text-center">
			<img src="{{url+'/getImagenPersona/'+instructor?.imagenPersona}}" id="avatar" class="img-fluid puntador">
			<br>
			
		</div>
		<div class="col-12 col-md-9 text-left">
			<label class="nombre">{{instructor?.nombrePersona + ' ' + instructor?.apellidopaternoPersona}}</label>
			<br>
			<label class="cargo">{{instructor?.descripcionCatalogoespecialidad}}</label>
			<br>
			<p>{{instructor?.descripcionPersona}}				
			</p>
			<div class="row">
				<div class="col-6 col-md-4 text-center">
					<label class="subtitulo">Total de estudiantes</label>
					<br>
					<label class="numero">1800</label>
				</div>
				<div class="col-6 col-md-3 text-center">
					<label class="subtitulo">Cursos</label>
					<br>
					<label class="numero">3</label>
				</div>
			</div>
		</div>
	</div>
	<div class="row separar">
		<div class="col-12 text-center">
			<label class="titulo">Cursos Impartidos por {{instructor?.nombrePersona + ' ' + instructor?.apellidopaternoPersona}}</label>
		</div>
	</div>
	<div class="row separar">
				<div class="col-12 col-md-4" *ngFor='let curso of cursosPersona'>
					<mat-card class="example-card">
						<div class="text-center">
							<img mat-card-image src="{{url+'/getImagenCurso/'+curso?.imagenCurso}}" class="img-fluid puntador" [routerLink]="['/vista-curso/'+curso.idCurso]">
						</div>
						<mat-card-content>
							<p class="text-responsive puntador" style="color: #1686F5" [routerLink]="['/vista-curso/'+curso.idCurso]">
								{{curso.nombreCurso}}
							</p>
							<p class="text-responsive puntador" style="color:#FF9100" [routerLink]="['/vista-curso/'+curso.idCurso]">
								{{curso.resumenCurso}}
							</p>
						</mat-card-content>
						<mat-card-actions>
							<div class="row">
								<div class="col-12 text-right">
									<button class="btn carritoCurso text-responsive" id="{{curso.idCurso}}" (click)="getCurso(curso.idCurso,identity.usuario[0].idUsuario)">
                  <i class="fas fa-briefcase nav-item active carrito nav-icons "></i>&nbsp; Agregar
                </button>
								</div>
							</div>
						</mat-card-actions>
					</mat-card>
					<br>
				</div>
				
	</div>
</div>
