<div class="container" style="padding-top: 10vh;">
	<div class="row separar">
		<div class="col-12 text-center">
			<label class="titulo">Exámen</label>
		</div>
	</div>
	<div class="row">
		<div class="col-12 text-center">
			<label class="titulo">Módulo</label>&nbsp;
			<label class="nombre">Desarrollar Aplicaciones Kotlin</label>
		</div>
	</div>
	<div class="row">
		<div class="col-12 text-center">
			<label class="duracion">Duración: 10 min</label>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-12 text-center">
			<button class="btn btn-primary butt">Comenzar</button>
		</div>
	</div>
	<div class="row separar">
		<div class="col-12 text-left">
			<label class="duracion">*leyenda</label>
		</div>
	</div>
</div>